* {
  font-size: 100%;
  font-family: 'Helvetica', 'Arial', sans-serif;
 }

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.mapOrigin {
  height: 30px;
  width: 28%;
  margin-top: 2%;
  border-radius: 8px;
  font-size: small;
  font-weight: bold;
  border-color: black;
  border-width: 3px;
  padding-left: 5px;
}

.mapDestination {
  height: 30px;
  width: 28%;
  margin-top: 2%;
  border-radius: 8px;
  font-size: small;
  font-weight: bold;
  margin-left: 2%;
  border-color: black;
  border-width: 3px;
  padding-left: 5px;
}

/* .nav-bar {
  width: 50%;
  height: 85px;
  background: #000000;
  margin-bottom: 40px;
}

#nav-logo {
  width: 210px;
  height: 190px;

  background: url('https://github.com/ryaaanandrew/final_project/blob/master/logo_transparent.png?raw=true');
} */

.nav-bar {
  height: 75px;
  /* margin-top: 15px; */
}

/* #nav-logo{
  height: 300px;
  width: 150px;
  display: inline-block;
} */

#nav-header { 
  background: inherit;
  margin-top: 5px;
  padding-left: 20px;
  color: white; 
  font-family: 'Playfair Display SC', serif;
  font-size: 65px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: left; 
  background-color: rgb(20, 20, 20);
  margin: 0px;
}

.nav-bar {
  background-color: rgb(20, 20, 20);
}

/* <--- MAP COMPONENT ---> */

.main-container {
  padding: 50px 25px;
  background: url('https://github.com/ryaaanandrew/final_project/blob/master/goodwp.com-30654.jpg?raw=true');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

.mapContainer {
  width: 850px;
  height: auto;
  background: #C4C4C4;
}

.loadingElement {
  height: 100%l;
}

.mapElement {
  height: 100%;
}

/* <--- TODO LIST ---> */
#todo-header {
  font-family: 'Playfair Display SC', serif;
  color: white;
  text-align: center;
  width: 95%;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin: 10px auto 25px;
}

.todo-container {
  width: 400px;
  overflow: auto;
  border-radius: 9px;
  background: linear-gradient(to bottom, rgb(20, 20, 20), #22222200);
  overflow: scroll;
  padding: 0px 10px 10px 10px;
  margin-top: 0px;
  position: relative;
}

.todo {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.2em;
  color: white;
  background: #614385;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 15px;
  border-radius: 8px;
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-buttons {
  display: flex;
  justify-content: space-between;
}

#todo-form {
  margin: 0 auto;
  width: 80%;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  left: 40px;  
}

#todo-form input {
  width: 100%;

}

/* <--- FOOTER ----> */

.footer-main {
  margin: 0 auto;
  padding-top: 15px;
  border-top: 1px solid grey;
  color: white;
  text-align: center;
}