/* .App {
  text-align: center;
  width: 100%;
} */

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.nav-bar {
  width: 50%;
  height: 95px;
  background: #000000;
}

.nav-bar h1 {
  margin-top: 0px;
}

#nav-logo {
  position: absolute;
  width: 210px;
  height: 190px;
  left: 10px;

  background: url('https://github.com/ryaaanandrew/final_project/blob/master/logo_transparent.png?raw=true');
}

/* <--- MAP COMPONENT ---> */

.main-container {
  position: relative;
  background-image: linear-gradient( 179.1deg,  rgba(0,0,0,1) 23.2%, rgba(97,109,140,1) 136% );
  height: 745px;
}

.mapContainer {
  position: absolute;
  width: 918px;
  height: 571px;
  background: #C4C4C4;
  top: 50px;
  left: 20px;
}

.loadingElement {
  height: 100%l;
}

.mapElement {
  height: 100%;
}

/* <--- TODO LIST ---> */

.todo-container {
  position: absolute;
  width: 393px;
  height: 660px;
  right: 25px;
  padding: 15px 30px;
  bottom: 90px;
  overflow: auto;
  
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  border: 2px solid #DDDBD7;	
  -webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.4),	inset 0 0 10px rgba(255,255,255, 0.8); 
  -moz-box-shadow: 	3px 3px 10px rgba(0,0,0,0.4),	inset 0 0 10px rgba(255,255,255, 0.8);
  box-shadow: 		3px 3px 10px rgba(0,0,0,0.4),	inset 0 0 10px rgba(255,255,255, 0.8);
  border-radius: 8px;
}

.todo {
  font-family: 'Roboto', sans-serif;
  color: white;
  background: #614385;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 7px 15px;
  border-radius: 8px;
  width: 60%;
  float: right;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: auto;
}

.sb1:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #614385;
  border-right: 10px solid transparent;
  border-top: 10px solid #614385;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 6px;
}

.todo:nth-child(even) {
  float: left;
}

.sb1:nth-child(even):after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #516395;
    border-top: 10px solid #516395;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
}

#todo-form {
  margin: 0 auto;
  width: 80%;
  left: 40px;
  bottom: 20px;
  position: absolute;
}

#todo-form input {
  width: 100%;
  
}

#completed,
#remove {
  padding: 10px;
  border-radius: 5px;
}

#completed {
  float: left;
}

#remove {
  float: right;
}

/* <--- FOOTER ----> */

.footer-main {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}