.App {
  text-align: center;
  width: 100%;
}

.nav-bar {
  position: absolute;
  width: 1440px;
  height: 89px;
  left: 0px;
  top: 0px;
  
  background: #000000;
}

#nav-logo {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 15px;
  top: 0px;

  background: url('https://github.com/ryaaanandrew/final_project/blob/master/logo_transparent.png?raw=true');
}

/* <--- MAP COMPONENT ---> */

.mapContainer {
  position: absolute;
  width: 1047px;
  height: 680px;
  left: 0px;
  top: 89px;
  
  background: #C4C4C4;
}

.loadingElement {
  height: 100%l;
}

.mapElement {
  height: 100%;
}

/* <--- TODO LIST ---> */

.todo-list {
  position: absolute;
  width: 393px;
  height: 680px;
  left: 1047px;
  top: 89px;
  
  background: #FF0000;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* <--- FOOTER ----> */

.footer-main {
  position: absolute;
  width: 1440px;
  height: 89px;
  left: 0px;
  top: 769px;
  
  background: #0075FF;
}