<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @trip.email %>!</h1>
    <p>Thank you for creating a trip with Charley! Here is your Trip ID: <%= @trip %></p>
    <p>Use this ID to create your trip.</p>
    <p>Share it with friends that you would like to bring!</p>

  </body>
</html>